<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Transaction-Service-Test-Suite" verbose="1">
	<test name="Statistic-Suite">
		<classes>
			<class
				name="com.n26.transaction.service.provider.StatisticsProviderTest" />
		</classes>
	</test>
</suite>